<pre>
2014-06-24 13:37:30.664 | Started by user <a href='https://jenkins05.openstack.org/user/null' class='model-link'>anonymous</a>
2014-06-24 13:37:30.667 | [EnvInject] - Loading node environment variables.
2014-06-24 13:37:33.731 | Building remotely on <a href='https://jenkins05.openstack.org/computer/bare-precise-hpcloud-b1-535178' class='model-link'>bare-precise-hpcloud-b1-535178</a> in workspace /home/jenkins/workspace/gate-stackalytics-pep8
2014-06-24 13:38:00.916 | [gate-stackalytics-pep8] $ /bin/bash /tmp/hudson6003502966133552211.sh
2014-06-24 13:38:01.898 | sudo: unable to resolve host bare-precise-hpcloud-b1-535178
2014-06-24 13:38:02.442 | [gate-stackalytics-pep8] $ /bin/bash -xe /tmp/hudson8449516187571170916.sh
2014-06-24 13:38:02.448 | + /usr/local/jenkins/slave_scripts/gerrit-git-prep.sh <a href='https://review.openstack.org'>https://review.openstack.org</a> git://git.openstack.org
2014-06-24 13:38:02.449 | Triggered by: <a href='https://review.openstack.org/102214'>https://review.openstack.org/102214</a>
2014-06-24 13:38:02.450 | + [[ ! -e .git ]]
2014-06-24 13:38:02.451 | + ls -a
2014-06-24 13:38:02.451 | .
2014-06-24 13:38:02.451 | ..
2014-06-24 13:38:02.451 | + rm -fr '.[^.]*' '*'
2014-06-24 13:38:02.481 | + '[' -d /opt/git/stackforge/stackalytics/.git ']'
2014-06-24 13:38:02.481 | + git clone file:///opt/git/stackforge/stackalytics .
2014-06-24 13:38:02.481 | Cloning into '.'...
2014-06-24 13:38:03.305 | + git remote set-url origin git://git.openstack.org/stackforge/stackalytics
2014-06-24 13:38:03.343 | + git remote update
2014-06-24 13:38:03.344 | Fetching origin
2014-06-24 13:38:03.779 | From git://git.openstack.org/stackforge/stackalytics
2014-06-24 13:38:03.780 |    04b8555..9fff1b3  master     -> origin/master
2014-06-24 13:38:03.818 | + git reset --hard
2014-06-24 13:38:03.818 | HEAD is now at 04b8555 Merge "Move dashboard into stackalytics"
2014-06-24 13:38:03.818 | + git clean -x -f -d -q
2014-06-24 13:38:03.819 | + echo refs/zuul/master/Z88e43f550fd34264a28ef78334a6df90
2014-06-24 13:38:03.819 | + grep -q '^refs/tags/'
2014-06-24 13:38:03.819 | + '[' -z '' ']'
2014-06-24 13:38:03.819 | + git fetch <a href='http://zm01.openstack.org/p/stackforge/stackalytics'>http://zm01.openstack.org/p/stackforge/stackalytics</a> refs/zuul/master/Z88e43f550fd34264a28ef78334a6df90
2014-06-24 13:38:04.152 | From <a href='http://zm01.openstack.org/p/stackforge/stackalytics'>http://zm01.openstack.org/p/stackforge/stackalytics</a>
2014-06-24 13:38:04.152 |  * branch            refs/zuul/master/Z88e43f550fd34264a28ef78334a6df90 -> FETCH_HEAD
2014-06-24 13:38:04.190 | + git checkout FETCH_HEAD
2014-06-24 13:38:04.190 | Note: checking out 'FETCH_HEAD'.
2014-06-24 13:38:04.191 | 
2014-06-24 13:38:04.191 | You are in 'detached HEAD' state. You can look around, make experimental
2014-06-24 13:38:04.191 | changes and commit them, and you can discard any commits you make in this
2014-06-24 13:38:04.191 | state without impacting any branches by performing another checkout.
2014-06-24 13:38:04.191 | 
2014-06-24 13:38:04.191 | If you want to create a new branch to retain commits you create, you may
2014-06-24 13:38:04.191 | do so (now or later) by using -b with the checkout command again. Example:
2014-06-24 13:38:04.191 | 
2014-06-24 13:38:04.191 |   git checkout -b new_branch_name
2014-06-24 13:38:04.191 | 
2014-06-24 13:38:04.192 | HEAD is now at 4468b0b... Useless change, don't look at it.
2014-06-24 13:38:04.192 | + git reset --hard FETCH_HEAD
2014-06-24 13:38:04.192 | HEAD is now at 4468b0b Useless change, don't look at it.
2014-06-24 13:38:04.192 | + git clean -x -f -d -q
2014-06-24 13:38:04.193 | + '[' -f .gitmodules ']'
2014-06-24 13:38:04.742 | [gate-stackalytics-pep8] $ /bin/bash -xe /tmp/hudson2858033618696382502.sh
2014-06-24 13:38:04.780 | + /usr/local/jenkins/slave_scripts/run-pep8.sh stackforge stackalytics
2014-06-24 13:38:04.781 | + org=stackforge
2014-06-24 13:38:04.781 | + project=stackalytics
2014-06-24 13:38:04.781 | + source /usr/local/jenkins/slave_scripts/functions.sh
2014-06-24 13:38:04.782 | + check_variable_org_project stackforge stackalytics /usr/local/jenkins/slave_scripts/run-pep8.sh
2014-06-24 13:38:04.782 | + org=stackforge
2014-06-24 13:38:04.783 | + project=stackalytics
2014-06-24 13:38:04.783 | + filename=/usr/local/jenkins/slave_scripts/run-pep8.sh
2014-06-24 13:38:04.783 | + [[ -z stackforge ]]
2014-06-24 13:38:04.783 | + [[ -z stackalytics ]]
2014-06-24 13:38:04.783 | + source /usr/local/jenkins/slave_scripts/select-mirror.sh stackforge stackalytics
2014-06-24 13:38:04.783 | ++ org=stackforge
2014-06-24 13:38:04.783 | ++ project=stackalytics
2014-06-24 13:38:04.784 | ++ source /usr/local/jenkins/slave_scripts/functions.sh
2014-06-24 13:38:04.784 | ++ check_variable_org_project stackforge stackalytics /usr/local/jenkins/slave_scripts/run-pep8.sh
2014-06-24 13:38:04.784 | ++ org=stackforge
2014-06-24 13:38:04.784 | ++ project=stackalytics
2014-06-24 13:38:04.784 | ++ filename=/usr/local/jenkins/slave_scripts/run-pep8.sh
2014-06-24 13:38:04.784 | ++ [[ -z stackforge ]]
2014-06-24 13:38:04.784 | ++ [[ -z stackalytics ]]
2014-06-24 13:38:04.784 | ++ rm -f /home/jenkins/.pydistutils.cfg
2014-06-24 13:38:04.785 | ++ mkdir -p /home/jenkins/.pip
2014-06-24 13:38:04.785 | ++ rm -f /home/jenkins/.pip/pip.conf
2014-06-24 13:38:04.785 | ++ cat
2014-06-24 13:38:04.785 | ++ grep -x stackforge/stackalytics /opt/requirements/projects.txt
2014-06-24 13:38:04.786 | ++ echo 'stackforge/stackalytics will not use the internal openstack pypi mirror'
2014-06-24 13:38:04.786 | stackforge/stackalytics will not use the internal openstack pypi mirror
2014-06-24 13:38:04.786 | ++ cat
2014-06-24 13:38:04.786 | + set -o pipefail
2014-06-24 13:38:04.786 | + tox -v -epep8
2014-06-24 13:38:04.786 | + tee pep8.txt
2014-06-24 13:38:04.938 | using tox.ini: /home/jenkins/workspace/gate-stackalytics-pep8/tox.ini
2014-06-24 13:38:04.938 | using tox-1.6.1 from /usr/local/lib/python2.7/dist-packages/tox/__init__.pyc
2014-06-24 13:38:04.939 | pep8 create: /home/jenkins/workspace/gate-stackalytics-pep8/.tox/pep8
2014-06-24 13:38:04.942 |   /home/jenkins/workspace/gate-stackalytics-pep8/.tox$ /usr/bin/python /usr/local/lib/python2.7/dist-packages/virtualenv.py --setuptools --python /usr/bin/python pep8 >/home/jenkins/workspace/gate-stackalytics-pep8/.tox/pep8/log/pep8-0.log
2014-06-24 13:38:06.914 | pep8 installdeps: -r/home/jenkins/workspace/gate-stackalytics-pep8/requirements.txt, -r/home/jenkins/workspace/gate-stackalytics-pep8/test-requirements.txt
2014-06-24 13:38:06.917 |   /home/jenkins/workspace/gate-stackalytics-pep8$ /home/jenkins/workspace/gate-stackalytics-pep8/.tox/pep8/bin/pip install -U -r/home/jenkins/workspace/gate-stackalytics-pep8/requirements.txt -r/home/jenkins/workspace/gate-stackalytics-pep8/test-requirements.txt >/home/jenkins/workspace/gate-stackalytics-pep8/.tox/pep8/log/pep8-1.log
2014-06-24 13:38:49.000 | pep8 develop-inst: /home/jenkins/workspace/gate-stackalytics-pep8
2014-06-24 13:38:49.010 |   /home/jenkins/workspace/gate-stackalytics-pep8$ /home/jenkins/workspace/gate-stackalytics-pep8/.tox/pep8/bin/pip install -U -e /home/jenkins/workspace/gate-stackalytics-pep8 >/home/jenkins/workspace/gate-stackalytics-pep8/.tox/pep8/log/pep8-2.log
2014-06-24 13:38:52.303 | pep8 runtests: commands[0] | flake8
2014-06-24 13:38:52.342 |   /home/jenkins/workspace/gate-stackalytics-pep8$ /home/jenkins/workspace/gate-stackalytics-pep8/.tox/pep8/bin/flake8 
2014-06-24 13:38:55.181 | Traceback (most recent call last):
2014-06-24 13:38:55.181 |   File "/home/jenkins/workspace/gate-stackalytics-pep8/.tox/pep8/local/lib/python2.7/site-packages/hacking/core.py", line 436, in is_module_for_sure
2014-06-24 13:38:55.182 |     __import__(mod)
2014-06-24 13:38:55.182 |   File "/home/jenkins/workspace/gate-stackalytics-pep8/stackalytics/dashboard/web.py", line 31, in &lt;module>
2014-06-24 13:38:55.182 |     breaking_pep8
2014-06-24 13:38:55.183 | NameError: name 'breaking_pep8' is not defined
2014-06-24 13:38:55.215 | Traceback (most recent call last):
2014-06-24 13:38:55.216 |   File "/home/jenkins/workspace/gate-stackalytics-pep8/.tox/pep8/local/lib/python2.7/site-packages/hacking/core.py", line 436, in is_module_for_sure
2014-06-24 13:38:55.216 |     __import__(mod)
2014-06-24 13:38:55.216 |   File "/home/jenkins/workspace/gate-stackalytics-pep8/tests/api/test_api.py", line 24, in &lt;module>
2014-06-24 13:38:55.217 |     from stackalytics.dashboard import web
2014-06-24 13:38:55.219 |   File "/home/jenkins/workspace/gate-stackalytics-pep8/stackalytics/dashboard/web.py", line 31, in &lt;module>
2014-06-24 13:38:55.219 |     breaking_pep8
2014-06-24 13:38:55.220 | NameError: name 'breaking_pep8' is not defined
2014-06-24 13:38:56.091 | ./setup.py:1:1: H803  git commit title ('Useless change, don't look at it.') should not end with period
2014-06-24 13:38:56.091 | #!/usr/bin/env python
2014-06-24 13:38:56.091 | ^
2014-06-24 13:38:56.091 | ./stackalytics/dashboard/web.py:31:1: F821 undefined name 'breaking_pep8'
2014-06-24 13:38:56.091 | breaking_pep8
2014-06-24 13:38:56.091 | ^
2014-06-24 13:38:56.091 | ./tests/api/test_api.py:24:1: H302  import only modules.'from stackalytics.dashboard import web' does not import a module
2014-06-24 13:38:56.091 | from stackalytics.dashboard import web
2014-06-24 13:38:56.091 | ^
2014-06-24 13:38:56.091 | ./tests/api/test_companies.py:18:1: H302  import only modules.'from tests.api import test_api' does not import a module
2014-06-24 13:38:56.092 | from tests.api import test_api
2014-06-24 13:38:56.092 | ^
2014-06-24 13:38:56.092 | ./tests/api/test_modules.py:18:1: H302  import only modules.'from tests.api import test_api' does not import a module
2014-06-24 13:38:56.092 | from tests.api import test_api
2014-06-24 13:38:56.092 | ^
2014-06-24 13:38:56.092 | ./tests/api/test_releases.py:18:1: H302  import only modules.'from tests.api import test_api' does not import a module
2014-06-24 13:38:56.092 | from tests.api import test_api
2014-06-24 13:38:56.092 | ^
2014-06-24 13:38:56.092 | ./tests/api/test_stats.py:18:1: H302  import only modules.'from tests.api import test_api' does not import a module
2014-06-24 13:38:56.092 | from tests.api import test_api
2014-06-24 13:38:56.092 | ^
2014-06-24 13:38:56.093 | ./tests/api/test_users.py:18:1: H302  import only modules.'from tests.api import test_api' does not import a module
2014-06-24 13:38:56.093 | from tests.api import test_api
2014-06-24 13:38:56.093 | ^
2014-06-24 13:38:56.215 | ERROR: InvocationError: '/home/jenkins/workspace/gate-stackalytics-pep8/.tox/pep8/bin/flake8'
2014-06-24 13:38:56.215 | pep8 runtests: commands[1] | /home/jenkins/workspace/gate-stackalytics-pep8/tools/requirements_style_check.sh requirements.txt test-requirements.txt
2014-06-24 13:38:56.218 |   /home/jenkins/workspace/gate-stackalytics-pep8$ /home/jenkins/workspace/gate-stackalytics-pep8/tools/requirements_style_check.sh requirements.txt test-requirements.txt 
2014-06-24 13:38:56.256 | ___________________________________ summary ____________________________________
2014-06-24 13:38:56.256 | ERROR:   pep8: commands failed
2014-06-24 13:38:56.489 | Build step 'Execute shell' marked build as failure
2014-06-24 13:38:58.022 | [SCP] Copying console log.
2014-06-24 13:38:58.912 | [SCP] Trying to create /srv/static/logs/14/102214/1/check/gate-stackalytics-pep8/b2d8cad
2014-06-24 13:38:58.933 | Finished: FAILURE
</pre>
